---



- name: Setup progress bar for apt
  lineinfile: 
      path:  /etc/apt/apt.conf.d/99progressbar
      state: present
      create: yes
      line:  'Dpkg::Progress-Fancy "1";'
      #line: 'Dpkg::Progress-Fancy::Progress-Bg "%1b[40m";'
